{% extends "base.html" %}
{% block title %}Kontakt{% endblock %}
{% set active_page = "contact" -%}

{% block body %}

<section class="mb-4">

    <div class="div-padding">

        <h2 class="h1-responsive font-weight-bold text-center my-4">Zapraszam do kontaktu</h2>
        <p class="text-center w-responsive mx-auto mb-5">Jeśli masz jakieś pytania, na przykład dotyczące appki
            Zdrowożercy napisz do mnie.</p>

        <div class="row">

            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="contact" method="POST">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Imię</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Email</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Tytuł</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="md-form">
                                <textarea id="message" name="message" rows="2"
                                          class="form-control md-textarea"></textarea>
                                <label for="message">Treść wiadomości</label>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="text-center text-md-left">
                    <a class="button" onclick="document.getElementById('contact-form').submit();">Wyślij</a>
                </div>
                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li>
                        <p>ul. Zdrowa 12-345 Wrocław</p>
                    </li>

                    <li>
                        <p>+ 48 123 456 789</p>
                    </li>

                    <li>
                        <p>agata@contact.com</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>
{% endblock %}